.codes {
    height: 92.8vh;
}

.left {
    height: 100%;
	padding: 10px 20px;
}

.left > .searchBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10vh;
}

.searchBar > input {
	-webkit-appearance: none !important;
	background-color: rgb(49, 67, 66);
    font-family: Nunito, sans-serif;
    color: white;
	padding: 10px 25px;
	border: none;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	cursor: text;	
}

.searchBar > button {
	background-color:rgba(141, 225, 205, 1);
	border: none;
	outline: none;
	padding: 10px 25px;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition: background-color 300ms;
	cursor: pointer;
}

.searchBar > button:hover{
	background-color: rgb(44, 62, 57);
}	

.list {
	width: 100%;
}

.list > .code {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.list > .code > .author {
	color: #1e1e1e;
}

.list > .code > .description, 
.list > .code > .title {
	padding: 10px 20px;
}

.list > .code > .description {
	padding-top: 0;
}
